*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:100%;
    background:#d9dde5;
    font-family:Arial, Helvetica, sans-serif;
}

/* Main Page */

.result-page{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:flex-start;

    padding:15px 0;

    overflow:auto;

}

/* Fixed Result Paper */

.paper{

    width:700px;

    min-width:700px;

    background:#fff;

    border:1px solid #bdbdbd;

    box-shadow:0 0 10px rgba(0,0,0,.18);

    padding:10px;

}

/* Result Image */

.paper img{

    width:100%;

    height:auto;

    display:block;

}

/* Scrollbar */

.result-page::-webkit-scrollbar{

    width:8px;

    height:8px;

}

.result-page::-webkit-scrollbar-thumb{

    background:#888;

}

.result-page::-webkit-scrollbar-track{

    background:#eee;

}