.footer{
    

    width:99%;
    margin-left: 0.5%;

    background:#3F678E;

    border-top:3px solid #1e65b0;

    padding:10px 0px;
    height: 36.41px;
    margin-top: 9.5%;

}

.footer-content{

    color:white;

    text-align:center;

    line-height:10px;
    font-weight: bold;

    font-size:10.6px;
    
    

}